build/
dist/
*.egg-info/
venv/
.idea/
cmake-build-debug/
pip-wheel-metadata/xfoil.dist-info/LICENSE
pip-wheel-metadata/xfoil.dist-info/METADATA
src/xfoil/__pycache__/test.cpython-36.pyc
:00.bl
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.vscode/settings.json
pip-wheel-metadata/xfoil.dist-info/top_level.txt
src/__pycache__/__init__.cpython-36.pyc
src/fortran/i_circle.mod
src/fortran/i_pindex.mod
src/xfoil/__pycache__/__init__.cpython-36.pyc
src/xfoil/__pycache__/model.cpython-36.pyc
src/xfoil/__pycache__/xfoil.cpython-36.pyc
build_backup
*.ipynb
*.mod

.vscode
src/xfoil/__pycache__/*
